html * {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background-color: #121212;
}
h1 {
	color: white;
	justify-content: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
footer {
	text-align: center;
}
button {
	align-self: center;
	padding: 10px;
	border-radius: 10px;
}
.container {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 5px;
	color: white;
	font-size: 80px;
}
#full {
	flex-direction: column;
}
#hours,
#minutes {
	padding: 4px;
}
.time-label {
	align-self: center;
	font-size: 60px;
}
.number {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}
.blob {
}
